{% load static %}
<nav class="navbar navbar-expand sticky-top">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand bg-white rounded p-1 mt-1" href="{% url 'redirect' %}">
            <img src="{% static 'img/logo.png' %}" class="img-upg d-inline-block align-top" height="50" alt="Logo"/>
        </a>

        <!-- Profile Options -->        
        <div class="d-flex justify-content-end align-items-center">
            <div class="navbar-nav nav-icon">
                <!-- Perfil -->
                <a href="" class="nav-item">
                    <img src="{% static 'img/default-profile.png' %}" alt="Perfil"/>
                </a>
                
                <!-- Logout -->
                <a href="{% url 'user_logout' %}" class="nav-item">
                    <i class="fas fa-sign-out-alt" style="font-size: 1.5rem;"></i>
                </a>
            </div>
        </div>
    </div>
</nav>
